.header{
    display: grid;
    grid-template-columns: 140 1fr repeat(2, max-content);
}


.header__logo{
    visibility: visible;
}


.header__search-voice{
    margin-left: 8px;
}

.header__controls{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(3,20px);
}

.my-profile{
    margin-left: 24px;
}

@media screen and (max-width: 768) {
    .header__logo{
       
        visibility: visible;
    }
    
}
